<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-118873846-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-118873846-3');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>ZikMate</title>
    <script type="text/javascript">
      // FACEBOOK API
      window.fbAsyncInit = () => {
        FB.init({
          appId: '675995146093687', // test id:1119115434910102
          autoLogAppEvents: true,
          xfbml: true,
          version: 'v3.1'
        });
      };

      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>
    <script type="text/javascript">
      // GOOGLE API
      handleClientLoad = () => {
        // Load the API client and auth2 library
        gapi.load('client:auth2', initClient);
      };
      initClient = () => {
        gapi.client.init({
          apiKey: 'AIzaSyCtIEuLOGOBgPI9AUj573hkIN2p-D5O5h8',
          discoveryDocs: [
            'https://people.googleapis.com/$discovery/rest?version=v1'
          ],
          clientId:
            '27522355914-o5b17fq93m6mg7958cenc6g35q473t9d.apps.googleusercontent.com',
          scope: 'profile'
        });
      };
    </script>
    <script
      async
      defer
      src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()"
    ></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtIEuLOGOBgPI9AUj573hkIN2p-D5O5h8&libraries=places"
    ></script>
  </head>

  <body>
    <noscript>
      <strong
        >Vous devez activer Javascript dans votre navigateur pour pouvoir
        utiliser ZikMate.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
