<template>
  <section class="about">
    <h2>A propos de ZikMate</h2>
    <b-container fluid class="mt-4">
      <b-row class="section-content">
        <b-col cols="12" lg="8" offset-lg="2">
          <b-card>
            <div class="text-justify">
              <h3>Résumé:</h3>
              <p>ZikMate est un projet de réseau social fictif à destination des musiciens amateurs. Il a développé en 2018 dans le cadre du projet final de ma formation de développeur fullstack JavaScript à l'IFOCOP Paris 11. Il vise à démontrer mes compétences sur les frameworks JavaScript récents côté front et back.</p>
              <h3>Hébergement:</h3>
              <ul>
                <li>Pour l'API: hébergement
                  <a href="https://www.heroku.com" target="_blank">Heroku</a> gratuit (free dynos)
                </li>
                <li>Pour la Base de Données NoSQL: hébergement
                  <a href="https://mlab.com" target="_blank">mLab</a> gratuit (sandbox database)
                </li>
                <li>Pour le stockage de fichiers distants: hébergement
                  <a href="https://cloud.google.com/storage" target="_blank">Google Cloud Storage</a> gratuit (en fonction du volume de données)
                </li>
                <li>Pour le Frontend: hébergement
                  <a href="https://www.netlify.com" target="_blank">Netlify</a> gratuit
                </li>
              </ul>
              <h3>Code source:</h3>
              <ul>
                <li>
                  <a
                    href="https://gitlab.com/elazul51/zikmate-api"
                    target="_blank"
                  >code source de l'API</a>
                </li>
                <li>
                  <a
                    href="https://gitlab.com/elazul51/zikmate"
                    target="_blank"
                  >code source du Frontend</a>
                </li>
              </ul>
              <h3>Technologies et frameworks:</h3>
              <b-row>
                <b-col class="text-justify">Pour l'ensemble:
                  <ul>
                    <li>
                      <a href="https://babeljs.io" target="_blank">ES6 + Babel</a>
                    </li>
                    <li>
                      <a href="https://www.npmjs.com/package/eslint" target="_blank">ESLint</a>
                    </li>
                    <li>
                      <a href="https://www.npmjs.com/package/moment" target="_blank">Moment</a>
                    </li>
                  </ul>
                </b-col>
                <b-col class="text-justify">Pour l'API:
                  <ul>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/generator-rest"
                        target="_blank"
                      >Yeoman RESTful API generator</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/express"
                        target="_blank"
                      >Express avec Node v10</a>
                    </li>
                    <li>
                      <a href="https://www.npmjs.com/package/mongoose" target="_blank">Mongoose</a>
                    </li>
                    <li>
                      <a href="https://www.npmjs.com/package/passport" target="_blank">Passport</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/@sendgrid/mail"
                        target="_blank"
                      >Sendgrid</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/@google-cloud/storage"
                        target="_blank"
                      >Google Cloud Storage</a>
                    </li>
                  </ul>
                </b-col>
                <b-col class="text-justify">Pour le Frontend:
                  <ul>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/@vue/cli"
                        target="_blank"
                      >Vue CLI 3 (VueJS 2.5)</a>
                    </li>
                    <li>
                      <a href="https://www.npmjs.com/package/vuex" target="_blank">Vuex</a>
                    </li>
                    <li>
                      <a href="https://www.npmjs.com/package/vue-router" target="_blank">Vue Router</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/bootstrap-vue"
                        target="_blank"
                      >Bootstrap Vue</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/vee-validate"
                        target="_blank"
                      >Vee Validate</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/vue2-editor"
                        target="_blank"
                      >Vue2 Editor</a>
                    </li>
                    <li>
                      <a
                        href="https://www.npmjs.com/package/font-awesome"
                        target="_blank"
                      >Font Awesome</a>
                    </li>
                  </ul>
                </b-col>
              </b-row>
              <h3>Contact:</h3>
              <ul>
                <li>Email:
                  <a href="mailto:contact@romain-joly.com">contact@romain-joly.com</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/elazul51" target="_blank">LinkedIn</a>
                </li>
                <li>
                  <a href="https://gitlab.com/elazul51" target="_blank">GitLab</a>
                </li>
              </ul>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>
